 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(104,110,160,0.5), rgba(104,110,160,0.5)), url("images/8ae3199517e413da18d153e03ac30143436b57e5c9927a67a69d61e25e56be445105f6d02bfb096b2ff91ff3a253bea6f605eb2f7d7068597d376c_1280.jpg");
  background-position: 50% 100%;
}

.u-section-1 .u-sheet-1 {
  min-height: 428px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  text-shadow: 0px 6px 12px rgba(248,162,139,1);
  animation-timing-function: ease;
  margin: 53px 110px 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 353px;
  }

  .u-section-1 .u-text-1 {
    --animation-custom_in-translate_x: 50px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 180deg;
    --animation-custom_in-scale: 0.3;
    line-height: 1.1;
    margin-right: 10px;
    margin-left: 10px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 270px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 203px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 128px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }
} .u-section-2 {
  background-image: linear-gradient(#81c8bd, #f8a28b);
  min-height: 1903px;
}

.u-section-2 .u-group-1 {
  min-height: 430px;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
  background-image: linear-gradient(#686ea0, #f8a28b);
}

.u-section-2 .u-container-layout-1 {
  padding: 48px 30px;
}

.u-section-2 .u-text-1 {
  text-align: center;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  text-shadow: 0px 8px 13px rgba(248,162,139,1);
  margin: 29px auto 0;
}

.u-section-2 .u-text-2 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-2 .u-list-1 {
  width: 1142px;
  margin: auto;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px);
  min-height: 1300px;
  grid-gap: 20px 20px;
  grid-auto-columns: calc(33.3333% - 13.3333px);
}

.u-section-2 .u-image-1 {
  box-shadow: 5px 5px 18px 12px rgba(104,110,160,0.45);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: url("images/jeff-moss-engraved.png");
  background-position: 51.15% 9.79%;
}

.u-section-2 .u-container-layout-2 {
  padding: 5px 19px 0;
}

.u-section-2 .u-group-2 {
  min-height: 61px;
  height: auto;
  width: 318px;
  margin: 337px auto 0;
}

.u-section-2 .u-container-layout-3 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-2 .u-text-3 {
  text-shadow: 2px 2px 8px rgba(128,128,128,1);
  text-transform: uppercase;
  font-size: 1.125rem;
  margin: 13px 0 0;
}

.u-section-2 .u-text-4 {
  margin: 0;
}

.u-section-2 .u-image-2 {
  box-shadow: 5px 5px 18px 12px rgba(104,110,160,0.45);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: url("images/nikkta-engraved.png");
  background-position: 41.53% 91.25%;
}

.u-section-2 .u-container-layout-4 {
  padding: 5px 19px 0;
}

.u-section-2 .u-group-3 {
  min-height: 61px;
  height: auto;
  width: 318px;
  box-shadow: -2px 0 4px 2px rgba(104,110,160,0);
  margin: 337px auto 0;
}

.u-section-2 .u-container-layout-5 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-2 .u-text-5 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  text-transform: uppercase;
  font-size: 1.125rem;
  font-weight: normal;
  margin: 13px 0 0;
}

.u-section-2 .u-text-6 {
  font-weight: 400;
  margin: 0;
}

.u-section-2 .u-image-3 {
  box-shadow: 5px 5px 18px 12px rgba(104,110,160,0.45);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: url("images/Aaron_Swartz1.png");
  background-position: 50% 22.96%;
}

.u-section-2 .u-container-layout-6 {
  padding: 5px 19px 0;
}

.u-section-2 .u-group-4 {
  min-height: 61px;
  height: auto;
  width: 318px;
  box-shadow: -2px 0 4px 2px rgba(104,110,160,0);
  margin: 337px auto 0;
}

.u-section-2 .u-container-layout-7 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-2 .u-text-7 {
  text-shadow: 2px 2px 8px rgba(128,128,128,1);
  text-transform: uppercase;
  font-size: 1.125rem;
  margin: 13px 0 0;
}

.u-section-2 .u-text-8 {
  font-weight: 400;
  margin: 0;
}

.u-section-2 .u-image-4 {
  box-shadow: 5px 5px 18px 12px rgba(104,110,160,0.45);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: url("images/hacker-hoodie-engraved.png");
  background-position: 50% 0%;
}

.u-section-2 .u-container-layout-8 {
  padding: 5px 19px 0;
}

.u-section-2 .u-group-5 {
  min-height: 61px;
  height: auto;
  width: 318px;
  box-shadow: -2px 0 4px 2px rgba(104,110,160,0);
  margin: 0 auto;
}

.u-section-2 .u-container-layout-9 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-2 .u-text-9 {
  text-shadow: 2px 2px 8px rgba(128,128,128,1);
  text-transform: uppercase;
  font-size: 1.125rem;
  font-weight: normal;
  font-family: freewaygothic;
  margin: 13px 0 0;
}

.u-section-2 .u-text-10 {
  font-weight: 400;
  margin: 0;
}

.u-section-2 .u-image-5 {
  box-shadow: 5px 5px 18px 12px rgba(104,110,160,0.45);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: url("images/Dan_Kaminsky.png");
  background-position: 50% 76.34%;
}

.u-section-2 .u-container-layout-10 {
  padding: 5px 19px 0;
}

.u-section-2 .u-group-6 {
  min-height: 61px;
  height: auto;
  width: 318px;
  box-shadow: -2px 0 4px 2px rgba(104,110,160,0);
  margin: 337px auto 0;
}

.u-section-2 .u-container-layout-11 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-2 .u-text-11 {
  text-shadow: 2px 2px 8px rgba(128,128,128,1);
  text-transform: uppercase;
  font-size: 1.125rem;
  font-weight: normal;
  margin: 13px 0 0;
}

.u-section-2 .u-text-12 {
  font-weight: 400;
  margin: 0;
}

.u-section-2 .u-image-6 {
  box-shadow: 5px 5px 18px 12px rgba(104,110,160,0.45);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: url("images/mcafee-engraved.png");
  background-position: 50% 59.26%;
}

.u-section-2 .u-container-layout-12 {
  padding: 5px 19px 0;
}

.u-section-2 .u-group-7 {
  min-height: 61px;
  height: auto;
  width: 318px;
  box-shadow: -2px 0 4px 2px rgba(104,110,160,0);
  margin: 0 auto;
}

.u-section-2 .u-container-layout-13 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-2 .u-text-13 {
  text-shadow: 2px 2px 8px rgba(128,128,128,1);
  text-transform: uppercase;
  font-size: 1.125rem;
  font-weight: normal;
  margin: 13px 0 0;
}

.u-section-2 .u-text-14 {
  font-weight: 400;
  margin: 0;
}

.u-section-2 .u-image-7 {
  box-shadow: 5px 5px 18px 12px rgba(104,110,160,0.45);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: url("images/mitnick-engraved-new.png");
  background-position: 14.03% 26.88%;
}

.u-section-2 .u-container-layout-14 {
  padding: 5px 19px 0;
}

.u-section-2 .u-group-8 {
  min-height: 61px;
  height: auto;
  width: 318px;
  box-shadow: -2px 0 4px 2px rgba(104,110,160,0);
  margin: 337px auto 0;
}

.u-section-2 .u-container-layout-15 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-2 .u-text-15 {
  text-shadow: 2px 2px 8px rgba(128,128,128,1);
  text-transform: uppercase;
  font-size: 1.125rem;
  font-weight: normal;
  margin: 13px 0 0;
}

.u-section-2 .u-text-16 {
  font-weight: 400;
  margin: 0;
}

.u-section-2 .u-image-8 {
  box-shadow: 5px 5px 18px 12px rgba(104,110,160,0.45);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: url("images/chris-engraved.png");
  background-position: 50% 13.86%;
}

.u-section-2 .u-container-layout-16 {
  padding: 5px 19px 0;
}

.u-section-2 .u-group-9 {
  min-height: 61px;
  height: auto;
  width: 318px;
  box-shadow: -2px 0 4px 2px rgba(104,110,160,0);
  margin: 337px auto 0;
}

.u-section-2 .u-container-layout-17 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-2 .u-text-17 {
  text-shadow: 2px 2px 8px rgba(128,128,128,1);
  text-transform: uppercase;
  font-size: 1.125rem;
  font-weight: normal;
  margin: 13px 0 0;
}

.u-section-2 .u-text-18 {
  font-weight: 400;
  margin: 0;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 1301px;
  }

  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-list-1 {
    width: 940px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 13.3333px));
    grid-auto-columns: calc(33.333333333333336% - 13.3333px);
    min-height: 1069px;
  }

  .u-section-2 .u-group-2 {
    height: auto;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-2 .u-group-3 {
    height: auto;
  }

  .u-section-2 .u-container-layout-5 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-2 .u-group-4 {
    height: auto;
  }

  .u-section-2 .u-container-layout-7 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-2 .u-group-5 {
    height: auto;
  }

  .u-section-2 .u-container-layout-9 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-2 .u-group-6 {
    height: auto;
  }

  .u-section-2 .u-container-layout-11 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-2 .u-group-7 {
    height: auto;
  }

  .u-section-2 .u-container-layout-13 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-2 .u-group-8 {
    height: auto;
  }

  .u-section-2 .u-container-layout-15 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-2 .u-group-9 {
    height: auto;
  }

  .u-section-2 .u-container-layout-17 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 1914px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 85px;
    padding-bottom: 30px;
  }

  .u-section-2 .u-list-1 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 9.999975px));
    grid-auto-columns: calc(50% - 9.999975px);
    min-height: 1661px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 4806px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 70px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-list-1 {
    width: 540px;
    margin-top: -326px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-10 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-12 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-14 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-15 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-16 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-17 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 3678px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 80px;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-14 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-16 {
    padding-left: 10px;
    padding-right: 10px;
  }
} .u-section-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("images/7fe99297024cc69759b0fab803848c8917da66338c5ad3ef8e7e6d9e1a646f404b640f1ae51f9b08419994396b55d4286f402b7c3224569b5524e1_1280.png");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 900px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 640px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 60px 30px 30px;
}

.u-section-3 .u-text-1 {
  margin: 0;
}

.u-section-3 .u-text-2 {
  letter-spacing: 2px;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 36px 0 0;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  background-image: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.875rem;
  margin: 28px auto 0 0;
  padding: 10px 40px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 630px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 528px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 202px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}@font-face {
  font-family: 'freewaygothic';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/freewaygothic.ttf);
}